<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Options</title>

 <section class="et-hero-tabs">
        <h1 style="color: #000000;"><i><u>>> The  Artist  see  what  others  only  catch  a  glimpse  of !!!</u></i></h1>
        <h3 style="color: #030405ee;"><i>A beautiful  Art is Harmony..</i> </h3>
        
         </section>
     

<div class="options">
     
  <div>
        <h3><i>Originals</i></h3>
<a  href="/originals" style="color: rgb(8, 8, 8);"><i><h2><i>“The object of art is not to reproduce reality, but to create a reality of the same intensity.”</i></h2>
    </i>
</a>
</div>
<div>
      <h3><i>Paintings</i></h3>
  <a  href="/paintings" style="color: rgb(8, 8, 8);"><i><h2><i>“Painting is self-discovery. Every good artist paints what he is.”</i></h2>
    </i>
</a></div>
<div>
      <h3><i>Sculptors</i></h3>
  <a  href="/sculptors" style="color: rgb(8, 8, 8);"><i><h2><i>“You have to create your life. You have to carve it, like a sculpture.”</i></h2></i>
</a></div>

<div>
      <h3><i>Fine-Arts</i></h3>
  <a  href="/fine-Arts" style="color: rgb(8, 8, 8);"><i><h2><i>“A visual art considered to have been created primarily for its beauty.”</i></h2></i>
</a></div>

<div>
      <h3><i>Potraits</i></h3>
  <a  href="/potraits" style="color: rgb(8, 8, 8);"><i><h2><i>"Every portrait that is painted with feeling is a portrait of the artist, not of the sitter.”</i></h2></i>
</a></div>

</div>
    




</head>
<body>
  
</body>
</html>
<style>
  h1{
    text-decoration: double;
  }
  html {
  font-size: 2.5vmin;
  line-height: 1.30901699437;
 
}
body {
  display:flex;
  flex-direction: column;
   background-image: url("beautifulbackground.jpg");  
}
div {
  max-width: 36rem;
  margin: -.666rem auto;
  background: rgb(120, 88, 0);
  
  padding: 4rem 2rem;
  clip-path: polygon(0 0, 100% 2.4rem, 100% 100%, 0 calc(100% - 1.4rem));
}
div:first-child {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1.4rem));
  padding-top: 2rem;
  margin-top: 2rem;
}
div:last-of-type {
  clip-path: polygon(0 0, 100% 2.4rem, 100% 100%, 0 100%);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
</style>